swagger: '2.0'
info:
  version: v1
  title: Jovix API
  description: >-
    Provides ability to track and monitor Material Readiness in the Jovix
    product.
host: dev3.atlasrfid.com
basePath: /jovixqa
schemes:
  - https
paths:
  '/api/v1/attachments/{id}/file':
    get:
      tags:
        - Attachments
      description: Gets the attachment file.
      operationId: Attachment_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/token:
    get:
      tags:
        - Authentication
      description: >-
        This request authenticates the user and returns an access token for use
        in authenticated calls to the Jovix API.<br>The client is authenticated
        by means of an Authorization header included in the request. There are
        two authentication schemes supported:<br><br>- The 'Basic' scheme must
        be used for initial authentication. Credentials should be formatted as
        usual for basic authentication.
        (https://en.wikipedia.org/wiki/Basic_access_authentication) <br>- The
        'Bearer' scheme should be used with subsequent requests to refresh a
        token that has expired or is nearing expiration. This scheme requires a
        JSON Web Token token on the Authorization header. Using a token helps
        minimize the transmission of user credentials over the network.
        (https://en.wikipedia.org/wiki/JSON_Web_Token) <br>If the user is
        successfully authenticated, the response will be an object containing
        both an access token and a refresh token.<br>If the passed credentials
        or refresh token are not valid for any reason, then the response will be
        a 401.
      operationId: Token_GetToken
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Jovix.Application.Security.TokenResponse'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/catalog-items:
    get:
      tags:
        - Catalog Items
      description: >-
        Gets a list of catalog items that represent the class definitions of
        materials.<br><br>Filter(s):<br>- projectId<br>- materialTypeId <br>-
        disciplineId <br>- name <br>- description <br>- shortDescription
      operationId: CatalogItemSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.CatalogItems.Views.CatalogItemView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Catalog Items
      description: Creates a catalog item.
      operationId: CatalogItemCreate_PostCatalogItemAsync
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: catalogItemPost
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.CatalogItems.CatalogItemPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.CatalogItems.Views.CatalogItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/catalog-items/{id}':
    get:
      tags:
        - Catalog Items
      description: Gets a catalog item with the specified identifier.
      operationId: CatalogItem_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.CatalogItems.Views.CatalogItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Catalog Items
      description: Deletes a catalog item with specified parameters.
      operationId: CatalogItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Catalog Items
      description: Updates specified values on a catalog item.
      operationId: CatalogItemUpdate_PatchCatalogItem
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.CatalogItems.Views.CatalogItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/catalog-items/modified:
    get:
      tags:
        - Catalog Items
      description: Returns recently modified catalog items.
      operationId: CatalogItemsModified_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: since
          in: query
          required: false
          type: string
        - name: pageToken
          in: query
          required: false
          type: string
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.ModifiedRecords[Jovix.Application.V1.CatalogItems.Views.CatalogItem]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/facilities:
    get:
      tags:
        - Facilities
      description: >-
        Gets a list of facilities that meet the specified filter
        criteria.<br><br>Available Filters:<br>- name<br>- jobId<br>-
        siteId<br>.
      operationId: FacilitySearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Facilities.Views.FacilityResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Facilities
      description: Creates a new facility with the fields provided.
      operationId: FacilityCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: facility
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.Facilities.Views.FacilityResourceView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Facilities.Views.FacilityResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/facilities/{id}':
    get:
      tags:
        - Facilities
      description: Gets a facility with the specified identifier.
      operationId: Facility_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Facilities.Views.FacilityResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Facilities
      description: Delete a facility from fields provided
      operationId: FacilityDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Facilities
      description: Updates specified values on a facility.
      operationId: FacilityUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Facilities.Views.FacilityResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/flags:
    get:
      tags:
        - Flags
      description: >-
        Gets a list of flags.<br><br>Available Filter(s):<br>- isActive
        (default)<br>- isMobile<br>- isReceiptFlag<br>- isMaterialFlag<br>-
        isShippingUnitFlag
      operationId: Flags_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: f
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.MaterialFlags.MaterialFlag[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/flags/{id}/description-options':
    get:
      tags:
        - Flags
      description: Gets the description options for the specified flag.
      operationId: MaterialFlagsLookupOptions_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.MaterialFlags.MaterialFlagLookupOption[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/jobs:
    get:
      tags:
        - Jobs
      description: >-
        Gets a list of jobs that meet the specified filter
        criteria.<br><br>Available Filters:<br>- abbreviation<br>- name<br>-
        projectId<br>- isActive
      operationId: JobSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Jobs.Views.JobResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Jobs
      description: Creates a job with the provided details
      operationId: JobCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: job
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.Jobs.Views.JobResourceView'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Jobs.Views.JobResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/jobs/{id}':
    patch:
      tags:
        - Jobs
      description: Updates specified values on a job.
      operationId: JobUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Jobs.Views.JobResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/jobs/{jobId}':
    get:
      tags:
        - Jobs
      description: Gets a job with the specified identifier.
      operationId: Job_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: jobId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Jobs.Views.JobResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Jobs
      description: Deletes a job with the specified identifier.
      operationId: Job_Delete
      consumes: []
      produces: []
      parameters:
        - name: jobId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/material-issue-items:
    get:
      tags:
        - Material Issue Items
      description: >-
        Gets a list of material issue items with the specified
        filters.<br><br>Available Filters:<br>- material issue id<br>
      operationId: IssueItemSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.IssueItems.Views.IssueItemView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Material Issue Items
      description: >-
        Creates a new issue item with the fields provided.<br><br>Required
        fields:<br>- materialIssue<br>- quantityIssued<br>- material or
        pickListPickedItem<br><br>Material and pick list picked item are
        mutually exclusive.
      operationId: IssueItemCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: issueItem
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.IssueItems.Views.IssueItemPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.IssueItems.Views.IssueItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/material-issue-items/{id}':
    get:
      tags:
        - Material Issue Items
      description: Gets a material issue item with the specified identifier.
      operationId: IssueItem_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.IssueItems.Views.IssueItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Material Issue Items
      description: Deletes the material issue item with the specified identifier.
      operationId: IssueItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Material Issue Items
      description: >-
        Updates specified values on a material issue item.<br><br>Updatable
        Fields: <br>- quantityIssued
      operationId: IssueItemUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.IssueItems.Views.IssueItemView]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/material-issues:
    get:
      tags:
        - Material Issues
      description: >-
        Gets a list of material issues with the specified
        filters.<br><br>Available Filters:<br>- name<br>- jobId<br>-
        statusId<br><br>
                    Default Status Ids:<br>- Open - 0<br>- In Process - 1<br>- Submitted - 2<br>- Closed - 3<br>- Rejected - 4
      operationId: IssueSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Issues.Views.IssueView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Material Issues
      description: |-
        Creates a material issue with the provided details.
                                                <br><br>Required fields:
                                                <br>- name
                                                <br>- job
                                                <br>- issuedToEmployee - Only if project setting for "Require 'Issued To' and 'Issued By' at MIR creation" is enabled
                                                <br>- issuedByEmployee - Only if project setting for "Require 'Issued To' and 'Issued By' at MIR creation" is enabled
      operationId: IssueCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: issuePost
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.Issues.Views.IssuePost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Issues.Views.IssueView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/material-issues/{id}':
    delete:
      tags:
        - Material Issues
      description: Deletes the material issue with the specified identifier.
      operationId: IssueDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Material Issues
      description: |-
        Updates a material issue with the provided details.
                                                <br><br>Updatable fields:
                                                <br>- description
                                                <br>- notes
                                                <br>- issuedToEmployee - Only if project setting for "Require 'Issued To' and 'Issued By' at MIR creation" is disabled
                                                <br>- issuedByEmployee - Only if project setting for "Require 'Issued To' and 'Issued By' at MIR creation" is disabled
      operationId: IssueUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Issues.Views.IssueView]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/material-issues/{issueId}':
    get:
      tags:
        - Material Issues
      description: Gets a material issue with the specified identifier.
      operationId: Issue_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: issueId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Issues.Views.IssueView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/materials:
    get:
      tags:
        - Materials
      description: >-
        Gets a list of materials.<br><br>One of the following search criteria is
        required:<br>- keySearch<br>- barcode<br><br>Examples:<br><br>Search by
        partial match of key fields (i.e., Material ID or Control Number):<br>
        /materials?keySearch=abcd<br><br>Search by barcode value:<br>
        /materials?barcode=abcd
      operationId: MaterialSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: keySearch
          in: query
          required: false
          type: string
        - name: barcode
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Materials.Views.MaterialView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Materials
      description: Creates a material.
      operationId: MaterialCreate_PostMaterialAsync
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: materialPost
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.Materials.MaterialPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Materials.Views.MaterialView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/materials/{id}':
    get:
      tags:
        - Materials
      description: Gets a material with specified identifier.
      operationId: Material_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Materials.Views.MaterialView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Materials
      description: Deletes a material with specified identifier.
      operationId: MaterialDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/named-locations:
    get:
      tags:
        - Named Locations
      description: >-
        Gets a list of matching named locations.<br><br> Required Filter(s):
        <br>- name <br><br> When filtering by facilityId and/or siteId, the name
        constraint must also be provided.
      operationId: NamedLocationSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Locations.NamedLocation[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Named Locations
      description: Creates a new named location with fields provided.
      operationId: NamedLocationCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: location
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.Locations.Views.NamedLocationResourceView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Locations.Views.NamedLocationResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/named-locations/{id}':
    get:
      tags:
        - Named Locations
      description: Gets a named location with specified identifier.
      operationId: NamedLocations_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: expand
          in: query
          required: false
          type: string
        - name: fields
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Locations.NamedLocation]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Named Locations
      description: Deletes a named location with specified identifier.
      operationId: NamedLocationDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Named Locations
      description: Updates specified values on a named location.
      operationId: NamedLocationUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Locations.Views.NamedLocationResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/pick-list-items:
    get:
      tags:
        - Pick List Items
      description: >-
        Gets a list of pick list items with the specified
        filters.<br><br>Available Filters:<br>- pickListId<br>- pickListName
      operationId: PickListItemSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PickListItems.Views.PickListItemResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Pick List Items
      description: >-
        Creates a pick list with the provided details. Required fields are:<br>-
        pickList<br>- catalogItem<br>- material<br>-
        pickQuantity<br><strong>Note: Either catalogItem OR material are
        required, but NOT both.
      operationId: PickListItemCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: pickListPostBody
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.PickListItems.Views.PickListItemPost
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickListItems.Views.PickListItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/pick-list-items/{id}':
    get:
      tags:
        - Pick List Items
      description: Gets a pick list item with the specified identifier.
      operationId: PickListItem_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickListItems.Views.PickListItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Pick List Items
      description: Deletes a pick list item with specified identifier.
      operationId: PickListItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Pick List Items
      description: >-
        Updates specified values on a pick list item.<br><br>Updatable Fields
        -<br>- pickQuantity
      operationId: PickListItemUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickListItems.Views.PickListItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/pick-lists:
    get:
      tags:
        - Pick Lists
      description: >-
        Gets a list of pick lists with the specified filters.<br><br>Available
        Filters:<br>- name<br>- jobId<br>- statusId<br>- siteId<br><br>
                    Default Jovix Pick List Statuses:<br>- Open = 0<br>- In Process = 1<br>- Closed = 2
      operationId: PickListSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PickLists.Views.PickListResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Pick Lists
      description: Creates a pick list with the provided details.
      operationId: PickListCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: pickListPostBody
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.PickLists.Views.PickListPostView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickLists.Views.PickListResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/pick-lists/{id}':
    get:
      tags:
        - Pick Lists
      description: Gets a pick list with the specified identifier.
      operationId: PickList_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickLists.Views.PickListResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Pick Lists
      description: Deletes a pick list with specified identifier.
      operationId: PickListDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Pick Lists
      description: >-
        Updates specified values on a pick list.<br><br>Updatable Fields -<br>-
        description<br>- job {id}
      operationId: PickListUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PickLists.Views.PickListResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/purchase-order-delivery-lines:
    get:
      tags:
        - Purchase Order Delivery Lines
      description: >-
        Gets a list of purchase order delivery lines that meet the specified
        filter criteria.<br><br>Available Filters:<br>- srn<br>-
        catalogItemName<br>- purchaseOrderLineItem Id<br>- barcode<br>-
        rfidTag<br>- purchaseOrderId
      operationId: PurchaseOrderDeliveryLineSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderDeliveryLines.Views.PurchaseOrderDeliveryLineView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Purchase Order Delivery Lines
      description: Creates a new purchase order delivery line with the fields provided.
      operationId: PurchaseOrderDeliveryLineCreate_PostDeliveryLine
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: deliveryLine
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.PurchaseOrderDeliveryLines.Views.PurchaseOrderDeliveryLineView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderDeliveryLines.Views.PurchaseOrderDeliveryLineView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/purchase-order-delivery-lines/{deliveryLineId}':
    get:
      tags:
        - Purchase Order Delivery Lines
      description: Gets a purchase order delivery line with the specified identifier.
      operationId: PurchaseOrderDeliveryLine_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: deliveryLineId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderDeliveryLines.Views.PurchaseOrderDeliveryLineView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Purchase Order Delivery Lines
      operationId: PurchaseOrderDeliveryLine_Delete
      consumes: []
      produces: []
      parameters:
        - name: deliveryLineId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Purchase Order Delivery Lines
      description: >-
        Updates specified values on a purchase order delivery
        line<br/><br/>Examples:<br>Update quantity on purchase order delivery
        line:<br/>&nbsp;&nbsp;/purchase-order-delivery-lines/789<br/>&nbsp;&nbsp;request
        body: {<br/>&nbsp;&nbsp;&nbsp;&nbsp;quantity:
        10.75<br/>&nbsp;&nbsp;}<br/><br/>Update RFID tag on material stage for
        purchase order delivery
        line:<br/>&nbsp;&nbsp;/purchase-order-delivery-lines/789<br/>&nbsp;&nbsp;request
        body: {<br/>&nbsp;&nbsp;&nbsp;&nbsp;materialStage:
        {<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rfidTag:
        "1324afed9786"<br/>&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;}<br/>
      operationId: PurchaseOrderDeliveryLine_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: deliveryLineId
          in: path
          required: true
          type: integer
          format: int32
        - name: podlPatch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderDeliveryLines.Views.PurchaseOrderDeliveryLineView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/purchase-order-delivery-lines/{deliveryLineId}/barcode':
    get:
      tags:
        - Purchase Order Delivery Lines
      description: >-
        Gets the barcode for the purchase order delivery line with the specified
        identifier.
      operationId: PurchaseOrderDeliveryLineBarcode_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: deliveryLineId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderDeliveryLines.PurchaseOrderDeliveryLineBarcodeView]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/purchase-order-items:
    get:
      tags:
        - Purchase Order Items
      description: >-
        Gets a list of purchase order items that meet the specified filter
        criteria.<br><br>Available Filters:<br>- catalogItemName<br>-
        purchaseOrderId
      operationId: PurchaseOrderItemSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderItems.Views.PurchaseOrderItemView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Purchase Order Items
      description: Creates a Purchase order item.
      operationId: PurchaseOrderItemCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: purchaseOrderItemPost
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.PurchaseOrderItems.Views.PurchaseOrderItemPost
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PurchaseOrderItems.Views.PurchaseOrderItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/purchase-order-items/{id}':
    get:
      tags:
        - Purchase Order Items
      description: Gets the purchase order item for the specified id.
      operationId: PurchaseOrderItemGet_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrderItems.Views.PurchaseOrderItemView]
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Purchase Order Items
      description: >-
        Updates specified values on a purchase order line item.<br><br>Updatable
        Fields -<br>- notes<br>- acceptableOverage<br>- acceptableShortage
      operationId: PurchaseOrderItemUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: poliToPatch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PurchaseOrderItems.Views.PurchaseOrderItemView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/purchase-order-items/{purchaseOrderItemId}':
    delete:
      tags:
        - Purchase Order Items
      operationId: PurchaseOrderLineItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: purchaseOrderItemId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/purchase-orders:
    get:
      tags:
        - Purchase Orders
      description: >-
        Gets a list of purchase orders that meet the specified
        criteria.<br><br>Required Filter(s):<br>- jobId<br>OR<br>- poNumber
      operationId: PurchaseOrderSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.PurchaseOrders.Views.PurchaseOrderView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Purchase Orders
      description: Creates a new purchase order.
      operationId: PurchaseOrderCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: purchaseOrderPost
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.PurchaseOrders.Views.PurchaseOrderPost
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PurchaseOrders.Views.PurchaseOrderView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/purchase-orders/{id}':
    delete:
      tags:
        - Purchase Orders
      description: Deletes the purchase order with the specified identifier
      operationId: PurchaseOrderDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Purchase Orders
      description: >-
        Updates specified values on a purchase order.<br><br>Updatable Fields
        -<br>- notes<br>- dateFinalized<br>- targetDeliveryDate<br>-
        targetShipDate
      operationId: PurchaseOrderUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.PurchaseOrders.Views.PurchaseOrderView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/receipt-items:
    get:
      tags:
        - Receipt Items
      description: >-
        Gets a list of receipts with the specified filters.<br><br>Available
        Filters:<br>- receiptId<br>- shipmentItemId<br>- shippingUnitId<br>-
        materialId<br><br>
      operationId: ReceiptItemSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ReceiptItems.Views.ReceiptItemResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Receipt Items
      description: Creates a receipt item with the provided details.
      operationId: ReceiptItemCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: receiptItemPostBody
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.ReceiptItems.Views.ReceiptItemPost
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ReceiptItems.Views.ReceiptItemModifiedView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/receipt-items/{id}':
    get:
      tags:
        - Receipt Items
      description: Gets a receipt item with the specified identifier.
      operationId: ReceiptItem_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ReceiptItems.Views.ReceiptItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Receipt Items
      description: Deletes a receipt item with specified identifier.
      operationId: ReceiptItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Receipt Items
      description: >-
        Updates specified values on a receipt item.<br><br>Updatable Fields
        -<br>- ReceivedQuantity<br>- location: latitude, longitude,
        horizontalErrorMeters
      operationId: ReceiptItemUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ReceiptItems.Views.ReceiptItemModifiedView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/receipts:
    get:
      tags:
        - Receipts
      description: >-
        Gets a list of receipts with the specified filters.<br><br>Available
        Filters:<br>- name<br>- receiptTypeId<br>- purchaseOrderId<br>-
        shipmentId<br><br>
                    Default Jovix Receipt Types:<br>- None - 0<br>- Direct Receipt - 1<br>- Shipment - 2<br>- Purchase Order - 3<br><br>
                    Default Receipt Status Ids:<br>- Open - 0<br>- In Process - 1<br>- Submitted - 2<br>- Completed - 3
      operationId: ReceiptSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Receipts.Views.ReceiptResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Receipts
      description: Creates a receipt with the provided details.
      operationId: ReceiptCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: receiptPostBody
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.Receipts.Views.ReceiptPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Receipts.Views.ReceiptResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/receipts/{id}':
    get:
      tags:
        - Receipts
      description: Gets a receipt with the specified identifier.
      operationId: Receipt_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Receipts.Views.ReceiptResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Receipts
      description: Deletes a receipt with specified identifier.
      operationId: ReceiptDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Receipts
      description: >-
        Updates specified values on a receipt.<br><br>Updatable Fields -<br>-
        Notes<br>- DateStarted
      operationId: ReceiptUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Receipts.Views.ReceiptResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/tag-associations:
    get:
      tags:
        - RFID
      description: >-
        Gets a list of matching Tag Associations. <br><br>Required
        Filter(s):<br>- rfid<br>OR<br>- inventoryItemId
      operationId: TagAssociation_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: f
          in: query
          required: false
          type: string
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.TagAssociations.TagAssociation[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - RFID
      description: >-
        Creates an RFID tag association.<br> Expected body: { inventoryItemId OR
        shippingUnitId, rfid }
      operationId: TagAssociationCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: newTagAssociation
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.TagAssociations.NewTagAssociation
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.TagAssociations.Views.TagAssociationView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/schedule-activities:
    get:
      tags:
        - Schedule Activities
      description: >-
        Gets a list of schedule activities that meet the specified filter
        criteria.<br><br>Availble Filters:<br>- externalProjectName<br>-
        name<br>- workBreakdownStructureName
      operationId: ScheduleActivitySearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ScheduleActivities.Views.ScheduleActivityView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Schedule Activities
      description: Creates a new schedule activity with the fields provided.
      operationId: ScheduleActivityCreate_PostActivityView
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: scheduleActivity
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.ScheduleActivities.Views.ScheduleActivityView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ScheduleActivities.Views.ScheduleActivityPostResponse]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/schedule-activities/{activityId}':
    get:
      tags:
        - Schedule Activities
      description: Gets a schedule activity with the specified identifier.
      operationId: ScheduleActivity_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: activityId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ScheduleActivities.Views.ScheduleActivityView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Schedule Activities
      description: Deletes a scheduled activity with the specified identifier.
      operationId: ScheduleActivity_Delete
      consumes: []
      produces: []
      parameters:
        - name: activityId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/schedule-activities/{scheduleActivityId}':
    patch:
      tags:
        - Schedule Activities
      description: >-
        Updates specified values on a schedule activity<br/><br/>Patchable
        Fields:<br/><br/>name<br/>job.Id<br/>externalProjectId<br/>externalProjectName<br/>workBreakdownStructureId<br/>workBreakdownStructureName<br/>startDate<br/>finishDate<br/>isActualStartDate<br/>isActualFinishDate<br/>totalFloat<br/>freeFloat<br/>activityType<br/>activityCode<br/><br/>Examples:<br/><br/>Update
        Name of a Schedule
        Activity:<br/>&nbsp;&nbsp;/schedule-activities/1<br/>&nbsp;&nbsp;request
        body: {<br/>&nbsp;&nbsp;&nbsp;&nbsp;name: "New
        Name"<br/>&nbsp;&nbsp;}<br/><br/>Update Job ID and Name of a Schedule
        Activity<br/>&nbsp;&nbsp;/schedule-activities/1<br/>&nbsp;&nbsp;request
        body: {<br/>&nbsp;&nbsp;&nbsp;&nbsp;name: "New
        Name"<br/>&nbsp;&nbsp;&nbsp;&nbsp;job:
        {<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id:
        1<br/>&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;}<br/>
      operationId: ScheduleActivityUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: scheduleActivityId
          in: path
          required: true
          type: integer
          format: int32
        - name: scheduleActivityPatch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ScheduleActivities.Views.ScheduleActivityView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/shipment-items:
    get:
      tags:
        - Shipment Items
      description: >-
        Gets a list of shipment items that meet the specified filter
        criteria.<br><br>Available Filters:<br>- shipmentid<br>-
        shippingunitid<br>- purchaseorderitemid<br>- purchaseorderdeliverylineid
      operationId: ShipmentItemSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
        - name: showTotalCount
          in: query
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ShipmentItems.Views.ShipmentItemResourceView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Shipment Items
      description: Creates a new shipment item with the fields provided.
      operationId: ShipmentItemCreate_Post
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: shipmentItem
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Jovix.Application.V1.ShipmentItems.Views.ShipmentItemResourceView
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ShipmentItems.Views.ShipmentItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/shipment-items/{id}':
    get:
      tags:
        - Shipment Items
      description: Gets a shipment item with the specified identifier.
      operationId: ShipmentItem_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ShipmentItems.Views.ShipmentItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    delete:
      tags:
        - Shipment Items
      description: Deletes a shipment item with specified parameters.
      operationId: ShipmentItemDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '409':
          description: Conflict
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Shipment Items
      description: >-
        Updates specified values on a shipment item.<br><br>Updatable Fields
        -<br>- quantityExpected<br>- materialStage
      operationId: ShipmentItemUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.ShipmentItems.Views.ShipmentItemResourceView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/shipment-release-notices:
    get:
      tags:
        - Shipment Release Notices
      description: >-
        Gets a list of shipment release notices that meet the specified filter
        criteria.<br><br>Available Filter(s):<br- poNumber
      operationId: ShipmentReleaseNoticeSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ShipmentReleaseNotices.Views.ShipmentReleaseNoticeView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/shipments:
    get:
      tags:
        - Shipments
      description: >-
        Gets a list of shipments that meet the specified filter
        criteria.<br><br>Available Filters:<br>- name<br>- jobid<br>-
        puchaseorderid<br>- supplierid<br>- tositeid<br>- istransfer<br>-
        statusid
      operationId: ShipmentSearch_GetList
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.Shipments.Views.ShipmentView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    post:
      tags:
        - Shipments
      description: Creates a shipment.
      operationId: ShipmentCreate_PostShipmentAsync
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: shipmentPost
          in: body
          required: true
          schema:
            $ref: '#/definitions/Jovix.Application.V1.Shipments.ShipmentPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Shipments.Views.ShipmentView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/shipments/{id}':
    delete:
      tags:
        - Shipments
      description: Deletes a shipment with specified identifier.
      operationId: ShipmentDelete_Delete
      consumes: []
      produces: []
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
    patch:
      tags:
        - Shipments
      description: >-
        Updates specified values on a shipment.<br><br>Updatable Fields -<br>-
        purchaseOrder<br>- supplier<br>- fromSite<br>- isTransfer<br>-
        billOfLading<br>- vehicleNumber<br>- grossWeight<br>-
        packingListNumber<br>- dateShipped<br>- dateArrived
      operationId: ShipmentUpdate_Patch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: patch
          in: body
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Shipments.Views.ShipmentView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  '/api/v1/shipments/{shipmentId}':
    get:
      tags:
        - Shipments
      description: Gets a shipment with the specified identifier.
      operationId: Shipment_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: shipmentId
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContentForSingle[Jovix.Application.V1.Shipments.Views.ShipmentView]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/shipping-unit-types:
    get:
      tags:
        - Shipping Unit Types
      description: >-
        Gets a list of matching shipping unit types.<br><br>Filter(s):<br>-
        isActive
      operationId: ShippingUnitTypeSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ShippingUnitTypes.Views.ShippingUnitTypeResponseView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Unexpected Error
  /api/v1/shipping-units:
    get:
      tags:
        - Shipping Units
      description: >-
        Gets a list of shipping units that meet the specified filter
        criteria.<br><br>Available Filters:<br>- name<br>- barcode<br>-
        rfidTag<br>- purchaseOrderId
      operationId: ShippingUnitSearch_Get
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Jovix.Application.Response.ResponseContent[Jovix.Application.V1.ShippingUnits.Views.ShippingUnitView[]]
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
[...]
